body {
  background-color: rgb(176, 216, 230);
}

p {
  text-align: center;
  color: darkseagreen;
}

h1 {
  text-align: center;
  color: darkolivegreen;
}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: plum;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: snow;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: darkorchid;
}