#javascript, #ruby, #csharp {
  display: none;
}

body {
  background-color: rgb(176, 216, 230);
}

p {
  font-size: 30px;
  text-align: center;
  color: darkseagreen;
}

h1 {
  text-align: center;
  color: darkolivegreen;
}

h2 {
  text-align: center;
  font-style: italic;
}

h3 {
  font-size: 25px;
}

.btn {
  font-size: 25px;
  font-style: italic;
  color: black;
  border: 2px solid lightskyblue;
}

.btn:hover {
  background-color: lightskyblue;
  color: whitesmoke;
}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: plum;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: darkorchid;
}